*{
    margin: 0px;
    padding: 0px;
    position:static;
}

body{
    overflow: hidden;
    height: 100vh;
}
.full-page{
    width: 100vw;
    overflow: hidden;
}
.container{
    height: 90vh;
}
.spotify-logo{
    margin: 5px;
    padding: 2px;
    padding-top: 10px;
    margin-left: 24px;
    margin-top: 5px;
    max-width: 70;
    margin-bottom: 10px;
}

.home-icon{
    width: 27px;
    filter: invert(1);
    padding: 5px;
}

.home-icon-border{
        background-color: #1f1f1f;
        border-radius: 100%;
        margin-right: -80px;
}

.login{
    width: 100px;
    height: 45px;
    border: 0px;
    border-radius: 200px;
    margin-top: 10px;
    margin-right: 10px;
}
.signup{
    width: 100px;
    height: 30px;
    background-color: black;
    border: 0px;
    color: white;
}

.center-input{
    margin-left: -80px;
    display: flex;
}

.center-search{
    height: 36px;
    width: 25vw;
    border-radius: 180px;
    background-color:#1f1f1f ;
    display: flex;
    border: 0px;
    overflow: hidden;
    margin-left: -190px;
    color: white;
    padding-left: 10px;
    flex: 1;
}

.main{
    max-width: 100dvw;
    border: 2px #121212;
    background-color: #121212;
    border-radius: 7px;
   flex-direction: row;
    display: flex;
    height: 50vh;
}

.left{
    max-width: 25vw;
    margin: 6px;
    border: 2px #121212;
    border-radius: 7px;
    height: 80vh;
}
.right{
    max-width: 75vw;
    margin: 6px;
    border-radius: 7px;
    display: flex;
    align-content: start;
    flex-direction: column;
    height: 80vh;
}

.library{
    display: flex;
    flex: 1;
    margin-left: 24px;
    filter: invert();
    gap: 1%;
    justify-content: left;
    margin-bottom: 40px;
    margin-top: 20px;
}
.library-button{
    width: 120px;
    border: 0px;
    text-decoration: none;
    color: black;
    margin-top: 2px;
}

/*
.scroll-item{
    background-color: #121212;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    height: 100px;
    border: 2px solid #121212;

} */

.scroll{
    border: 2px solid #121212;
    background: linear-gradient(to left,#1f1f1f,#121212, );
    padding-top: 10px;;
    overflow-y: scroll;
    height: 200px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 20px;
   
}


.scroll-item ul li{
    border: 2px solid #121212;
    background-color: #1f1f1f;
    margin: 10px;
    width: 20vw;
    border-radius: 12px;
    height: 4vw;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 18px;
    margin-top: 20px;
    height: 31px;
}

.create{
    color: white;
    margin-top: 12px;
    margin-left: 20px;
}

.eng-button{
    background-color: #121212;
    border: 1px;
    border-radius: 7px;
    color: white;
    width: 50px;
}

.eng{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    width: 70px;
    gap: 10%;
    flex-direction: row;
    margin-bottom: 200px;
    flex-wrap:inherit;
}

.privacy{
    list-style: none;
    display: flex;
    flex-direction: auto;
    flex: 2;
    margin: 1px;
    color: grey;
    justify-content: start;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 10px;
}

.privacy1{
    margin: 5px;
    padding: -25px;
    background-color: #121212;
}

.right-main{
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 25%;
    margin: 8px;
}

.right-border{
    overflow-y: scroll;
    height: 39em;
    margin-right: -1vw;
}

.item{
    display: flex;
    height: 12em;
    width: 10em;
    background-color: #252525;
    border-radius: 7px;
    padding: 2px;
    margin: 50px;
    margin-top: 5px;
}

.item-inner-div{
    display: flex;
    width: 160px;
    flex-direction: column;
    background: linear-gradient(to bottom, #1e1e1e,#111111);
}
.up img{
    padding: 1px;
    color: rgb(139, 127, 127);
    width: 8em;
    height: 8em;
    overflow: hidden;
    border-radius: 100px; 
    margin: 18px;
}

.up{
    padding: 1px;
    margin-bottom: 5px;
    color: rgb(139, 127, 127);
    border-radius: 100px;
}

/* .down{
    border: 1px solid brown;
    padding: 1px;
    margin-top: -2em;
    width: 2px;
   
} */

.image{
    border: 2px;
    border-radius: 8px;
    width: 8em;
    margin-right: 2px;
    height: 6em;
  
}

.main-footer{
    background-color: #121212;
    padding: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 27px;
}

.main-foot{
    color: white;
    margin: 20px;
    padding: 10px;
}

.main-foot ul li{
    margin: 8px;
}

.names{
    margin-top: -2vh;
    display: flex;
    justify-content: center;
    padding: 5px;
}

footer{
    color: white;
    background: linear-gradient(to right, #9547b0,#5c8ce9) ;
    height: 50px;
    margin-left: 6px;
    margin-top: -5px;
    margin-right: 5px;
    border-radius: 3px;
}

.footer{
    margin: 5px;
    padding: 6px;
}

.low-button{
    width: 100px;
    height: 32px;
    background-color: white;
    border: 0px;
    color: black;
    margin: 10px;
    border-radius: 18px;
    margin-right: 15px;
}