
.justify-center{
    justify-content: center;
}

.m-1{
    margin: 1px;
}
.p-1{
    padding: 1px;
}

.button{
    width: 8vw;
    height: 3vw;
    text-align: center;
    margin: 10px;
    border-radius: 12px;
    background-color: #121212
    color(white)
}
