.bg-black{
    background-color: black;
}

.bg-brown{
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.flex{
    display: flex;
}

.flex-divide{
    justify-content: space-between;
}

.flex-right{
    display: flex;
    align-items: center;
}

.flex-left{
    display: flex;
    align-items: flex-start;
}

.flex-center{
    display: flex;
    align-items: center;
}

.color{
    color: white;
}

.m-1{
    margin: 1px;
}

.p-1{
    padding: 1px;
}

.rounded{
    border-radius: 7px;
}

.flex-col{
    flex-direction: column;
}

.grid{
    display: grid;
}